.spotify__home-container_side-bar{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.spotify__home-container_playlist-container{
    background-color: #191919;
    height: 100vh;
}
.spotify__home-container_side-bar-item{
    font-size: 18px;
    color: white;
    width: 100%;
    margin: 10px;
    padding-left: 18;
}
.spotify__home-container_side-bar-item > a:hover {
    cursor: pointer;
    color: lightgray;
}
.spotify__home-container_playlist-container {
    background-color: #1e1e1e;
    height: 100vh;
    padding: 0;
    overflow-y: auto;
}
.playlist_card_collections {
    display: flex;
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none;
}

#song_card_item{
    min-width: 185px;
}




